
.acf-block-preview h2{
	font-family: serif;
	font-size: 34px;
	line-height: 48px;
}

.acf--separator {
	background: #f5f5f5;
	height: 50px;

}
.acf--testimonial blockquote{
	width: 100%;
	padding: 25px;
	margin: 0;
}

.acf--big-title {
	font-family: serif;
	font-size: 34px;

}

.acf--testimonial img{
	width: 25%
}


.my-slider li{
	list-style-type: none;
	display: inline;
	z-index: 2;
}