// Fonts
$sans_serif: helvetica, arial, sans-serif
$serif: 'orpheus_proregular', serif
$dm_sans: 'dm_sans', sans-serif
// Colors
$color-93degres: #ffff00
$color-black: #121317
$color-light-grey: #aaa7a5
$color-white: #ffffff
$color-base-light: #f7f2ea
$color-base-light: #f7f6f2
$light-grey: rgba(0, 0, 0, 0.05)

$color-carnet-dark: #e7824a
$color-carnet-dark: #e66335
$color-carnet-light: #ffdcb6
$color-carnet-gradient: linear-gradient(to bottom right, #ffdcb6, #fff4e9)

$color-guide-dark: #73b298
$color-guide-dark: #2e7b5b
$color-guide-light: #cee9b5
$color-guide-gradient: linear-gradient(to bottom right, #cee9b5, #f0f8e9)

$color-conseil-dark: #307f8f
$color-conseil-light: #c8ebf2
$color-conseil-gradient: linear-gradient(to bottom right, #c8ebf2, #eef9fb)


// Media Query
$screen-lg-min: 1200px
$screen-md-min: 992px
$screen-sm-min: 768px
$screen-xs-max: 767px

// Margin
$mobile-margin: 25px
$desktop-margin: 4.16666666665%
$header-height: 80px

// Animation
$transition-quick: 0.45s cubic-bezier(0.4, 0, 0, 1)
$transition-smooth: 2s cubic-bezier(0, 0, 0, 1)
$transition-scroll: 0.6s cubic-bezier(1, 0, 0, 1)

