#homepage--cover

	.categories
		float: left
		clear: both


	.cta--circle
		float: left
		clear: both


#home-posts
	+media-sm-and-less
		margin-top: $header-height

	& > div 
	

.first-post 

	&.post 
		&--article
			h1
		
				& > div

					&:nth-child(2)
	
					    
					&:nth-child(3)
	
						margin-left: ($desktop-margin * 2)
						+media-sm-and-less
							margin-left: 0
							left: ($desktop-margin * 2)

					&:nth-child(4)
						
						margin-left: $desktop-margin
						+media-sm-and-less
							margin-left: 0
							left: $desktop-margin
						
	
	