#homepage--cover

	margin-top: $desktop-margin * 2
	
	+media-sm-and-less
		position: relative
		padding-top: 66.66%
		margin-top: 0
		margin-top: 30px

	.categories
		float: left
		clear: both
		margin-bottom: $desktop-margin/2
		position: relative
		padding-left: 5px


	.cta--circle
		float: left
		clear: both
		position: relative
		padding-left: 5px


	.h1
		margin-bottom: $desktop-margin
		z-index: 1
		pointer-events: none
		+media-sm-and-less
			margin-bottom: $mobile-margin
			margin-top: -5vw

		[index="2"]
			margin-left: (2 / $grid-columns * 100%)
			
			+media-sm-and-less
				margin-left: 0
				left: ($desktop-margin * 2)
			    
		[index="3"]
			margin-left: (1 / $grid-columns * 100%)
			
			+media-sm-and-less
				margin-left: 0
				left: $desktop-margin

		strong
			color: $color-93degres

		


	&--image

		float: right
		padding-right: 0
		margin-top: $desktop-margin* -3

		&:hover
			.item__img
				opacity: 0.25

		+media-sm-and-less
	

			position: absolute
			margin-top: 0
			right: 0
			top: 0

		.item__img
			transition: opacity 0.45s cubic-bezier(0.4, 0, 0, 1)

		.image--21-9
			+media-sm-and-less
				padding-bottom: 66.66%




#h1--seo
	float: right
	margin-right: 15px
	text-align: right
	width: 100%

	+media-sm-and-less
		position: absolute
		top: -30px
		text-align: center
		margin: 0

	h1
		font-family: $dm_sans
		font-weight: 400
		font-size: 14px
		color: rgba($color-white, 0.5)
		
		+media-sm-and-less
			margin: 0
			font-size: 12px


				
#other_articles

	margin-bottom: 0

	.push-article
		margin-bottom: $desktop-margin * 2

		+media-sm-and-less
			margin-bottom: $mobile-margin * 2

		.item__img
			transition: opacity 0.45s cubic-bezier(0.4, 0, 0, 1)
		a


			&:hover
				.item__img
					opacity: 0.25

		.categories
			margin-top: $desktop-margin
			margin-bottom: $desktop-margin / 4

			+media-sm-and-less
				margin-top: $mobile-margin
				margin-bottom: $mobile-margin / 2

		&:nth-child(3)
			.item__img-wrap
				padding-bottom: 56.25%

				+media-sm-and-less
					padding-bottom: 66.66%

		&:nth-child(2)
			float: right
			margin-left: 0
			@include make-xs-column-pull(2)

			.item__img-wrap
				padding-bottom: 100%
				
				+media-sm-and-less
					padding-bottom: 66.66%

#more_articles

	text-align: center

	.cta--circle
		display: table
		width: 100%
		margin-top: $desktop-margin/2


.homepage--destinations
	position: relative
	padding-bottom: $desktop-margin * 3
	text-align: center
	overflow: hidden

	.h4
		text-align: center
		text-transform: uppercase
		margin-bottom: $desktop-margin/2
		padding-top: $desktop-margin * 3

	&::after
		background: $color-93degres
		width: 100%
		height: 100%
		position: absolute
		z-index: -2

	&--names
		position: initial
		z-index: 100

		&:nth-child(1n+1)
			float: right
			right: -10px
			
		&:nth-child(2n)
			left: -10px
			float: left

		&:hover
			-webkit-text-stroke: 1px black
			-webkit-text-fill-color: transparent /* Will override color (regardless of order) */

			.homepage--destinations--image
		        transform: none
		        transform-origin: left
			
	&--image

		position: relative
		width: 100%
		height: 100%
		background-size: contain
		background-repeat: no-repeat
		background-position: center
		transform: scaleX(0)
		transform-origin: right
		transition: transform 0.35s cubic-bezier(0.4, 0, 0, 1)


		&__container
			position: absolute
			width: 50%
			left: 25%
			top: 0
			bottom: 0
			z-index: -1
			overflow: hidden

    




.distort
	width: 40vw
	height: 60vw
	position: fixed
	pointer-events: none
	will-change: transform
	left: calc(50% - 20vw)
	margin-top: calc(50% - 30vw)

	&__img
		opacity: 0

#about
	.h4
		margin-top: 0.9vw

		+media-sm-and-less

			margin-bottom: $mobile-margin/2
			margin-top: 0



			
						
	
	