

.page--single

	.container

		margin-top: $desktop-margin * 3

.acf--image-full
	.caption
		margin-left: 20px
#single


	&--content
			
		img
			width: 100%

		p, h2
			margin: auto

		h2
			margin-bottom: $desktop-margin

	&--introduction

		h1
			margin-bottom: 0
			margin-top: $desktop-margin

		&__thumbnail

			float: right
			margin-top: -5vw
			z-index: -1
			+media-sm-and-less


		






#layout
	p
		del
			line-height: 0
			font-size: 20px
			text-decoration: none

	.deux-tiers--un-tiers
		&:nth-child(1), &:nth-child(2)

			.deux-tiers__paragraph
				&:first-of-type
					&:first-letter
						float: left
						font-family: $dm_sans
						color: $color-93degres
						font-weight: 900
						font-size: 5.7em
						margin-top: 7px
						margin-right: 0.20em
						line-height: 90%

#realated
	.post
		p
			width: 100%
	