

.page--single

	.container

		margin-top: $desktop-margin * 3

.acf--image-full
	.caption
		margin-left: 20px
#single


	&--content
			
		img
			width: 100%


		p, h2
			margin: auto

		h2
			margin-bottom: $desktop-margin

	&--introduction

		h1
			margin-bottom: 0
			margin-top: $desktop-margin

		&__thumbnail

			float: right
			margin-top: -5vw
			z-index: -1
			+media-sm-and-less

.my-slider
	padding-inline-start: 0
	cursor: grab
	transition: all 1s cubic-bezier(0.2, 0.2, 0.1, 1) !important

.slide

	vertical-align: middle !important
	padding-right: 7.1428571429vw



	img
		max-width: 100vh
		max-height: 80vh
		width: auto !important
		height: auto

	&--ghost
		width: calc(13.6vw + 5px)
		height: 100%
.tns-outer
	position: relative
.tns-inner
	margin: 0 7.1428571429% !important
	padding-left: 4px
	padding-right: 5px

.tns-controls
	display: none
	button
		width: 50px
		height: 50px
		border-radius: 50%
		background: $color-white
		border-color: none !important

		&[data-controls="prev"]
			text-indent: -9999px
			&:after
				content: "<"
				text-indent: 0 
				display: block  
		&[data-controls="next"]
			text-indent: -9999px
			&:after
				content: ">"
				text-indent: 0 
				display: block  
.tns-nav
	bottom: -25px
	width: 100%
	text-align: center


	button
		width: 5px
		height: 14px
		border: none
		border-radius: 50%
		position: relative

		background: $color-dark
		&:before
			content: ""
			padding: 3px
			border: none
			border-radius: 50%
			font-size: 0
			opacity: 0.3
			background: $color-white
			position: absolute
			z-index: 2
			left: 4px
			top: 4px

		&:last-child
			display: none
	&-active
		&:before
			opacity: 1 !important

#layout
	p
		del
			line-height: 0
			font-size: 20px
			text-decoration: none

	.deux-tiers--un-tiers
		&:nth-child(1), &:nth-child(2)

			.deux-tiers__paragraph
				&:first-of-type
					&:first-letter
						float: left
						font-family: $dm_sans
						color: $color-93degres
						font-weight: 900
						font-size: 5.7em
						margin-top: 7px
						margin-right: 0.20em
						line-height: 90%

#realated
	.post
		p
			width: 100%
	