#footer
	padding-top: $desktop-margin
	padding-bottom: ($desktop-margin / 2)
	text-align: center
	border-top: solid 1px $color-white

	.big_title
		color: $color-white
		display: block
		padding-bottom: ($desktop-margin * 3)
		padding-top: ($desktop-margin * 3)