header 
	display: block
	position: relative
	z-index: 99
	margin-top: $desktop-margin
	margin-bottom: $desktop-margin*3

	+media-sm-and-less
		height: $header-height
		margin-top: 0
		

	#logo
		z-index: 2
		text-align: center

		+media-sm-and-less
			margin-top: 25px
		img 
			width: 100%
			max-width: 125px

			+media-sm-and-less
				max-width: auto
				min-width: 100px

.menu-header-container, .menu-secondary-container
	

	+media-sm-and-less

		position: absolute
		left: 0
		height: 70vh
		padding-bottom: 30vh
		width: 100%
		text-align: center
		transition: all .45s cubic-bezier(.4,0,0,1)
		transition-delay: 0.1s
		display: table
		background: $color-base-light
		top: 100vh
		display: none
	
		&.active-menu
			top: $header-height
	
	ul 
		padding: 0
		margin: auto

		+media-sm-and-less
			display: table-cell
			vertical-align: middle

	li 
		margin-right: $desktop-margin*3
		padding: 0
		display: inline-block
		vertical-align: middle

		&:last-child
			margin-right: 0



		+media-sm-and-less
			display: inline-block
			width: 100%
			margin: 10px 0


	a 
		color: $color-white
		cursor: pointer
		@include a-hover



	#link--instagram
		background-image: url(assets/img/logo--instagram_gradient.png)
		background-size: contain
		background-repeat: no-repeat
		background-position: center
		width: 20px
		height: 20px
		display: block
		overflow: visible
		margin-left: 15px
		margin-right: 15px

		&:hover
			&:before
				transform: scale(1.35)


		&:before
			content: ""
			border-radius: 50%
			background: $color-white
			position: absolute
			width: 100%
			height: 100%
			padding: 15px
			top: -15px
			left: -15px
			z-index: -1
			transition: transform 0.35s cubic-bezier(0.4, 0, 0, 1)





		+media-sm-and-less
			position: relative
			margin: 30px 20px
			right: auto
			bottom: auto
			width: 20px
			height: 20px
	
	.current 
		color: $color-white
		background: $color-dark

.menu-secondary-container
	text-align: right



.mobile-menu
	overflow: hidden
	width: 25px
	height: 27px
	cursor: pointer
	position: fixed
	@include make-xs-column-pull(2)
	z-index: 110
	margin-top: 25px
	display: none

	+media-sm-and-less
		display: block

	span
		display: block
		height: 2px
		margin-top: 8px
		width: inherit
		position: relative

.mobile-menu span, .mobile-menu span:after, .mobile-menu span:before
	background: $color-white
	border-radius: 5px

.mobile-menu span:after, .mobile-menu span:before
	width: inherit
	content: ""
	height: inherit
	position: absolute

.mobile-menu span
	&:after
		top: -8px

.mobile-menu span
	&:before
		bottom: -8px



	