div
	&[data-scroll]
		top: 0


*
	&::selection
    	background-color: rgba(0,0,0,0.05)

body
	background-color: $color-dark

.h1 
	font-family: $gt_sectra
	font-weight: 400
	color: $color-white
	font-size: 100px
	font-size: 8.333vw
	line-height: 100px
	line-height: 8.333vw
	text-transform: uppercase

	strong
		font-family: $dm_sans
		font-weight: 400
		letter-spacing: -0.02em
		color: $color-93degres
		-webkit-font-smoothing: antialiased

	+media-sm-and-less
		font-size: 10vw
		line-height: 10vw


.h2
	font-family: $gt_sectra
	color: $color-white
	font-size: 56px
	font-size: 3.888888888888889VW
	line-height: 80px
	line-height: 5.555555555555555VW

	+media-sm-and-less
		font-size: 7vw
		line-height: 9vw

	strong
		font-family: $dm_sans
		font-weight: 400
		letter-spacing: -0.02em
		color: $color-93degres

.h3

	font-family: $gt_sectra
	color: $color-white
	font-size: 38px
	line-height: 48px

	+media-sm-and-less
		font-size: 32px
		line-height: 38px

	strong
		font-family: $dm_sans
		-webkit-font-smoothing: antialiased
		font-weight: 400
		letter-spacing: -0.02em
		color: $color-93degres


.h4
	font-family: $dm_sans 
	-webkit-font-smoothing: antialiased
	font-size: 22px
	line-height: 24px
	letter-spacing: -0.02em
	color: $color-white
	+media-sm-and-less
		font-size: 16px
		line-height: 24px

.h5
	font-family: $dm_sans 
	-webkit-font-smoothing: antialiased
	font-size: 14px
	line-height: 26px
	letter-spacing: -0.02em
	color: $color-white
	opacity: 0.5


.big_title
	font-family: $dm_sans
	-webkit-font-smoothing: antialiased
	font-size: 12.5VW
	line-height: 12.5VW
	text-transform: uppercase
	color: $color-dark
	user-select: none

a
	font-size: 20px
	font-family: $dm_sans
	-webkit-font-smoothing: antialiased
	font-weight: 400
	color: $color-white
	text-decoration: none

	p
		letter-spacing: initial


p 
	font-family: $dm_sans
	-webkit-font-smoothing: antialiased
	font-weight: 400
	font-size: 20px
	line-height: 36px
	color: $color-white

	strong
		font-weight: 700

	a 
	/*
		font-family: inherit
		text-decoration: none
		font-weight: inherit
		font-size: inherit
		font-weight: bolder
		letter-spacing: initial
		color: inherit
		background-size: 100% 2px
		background-repeat: no-repeat
		background-image: linear-gradient(45deg, $color-93degres, $color-93degres )
		background-position: center bottom
		cursor: pointer
		transition: all .45s cubic-bezier(.4,0,0,1)
		&:hover 
			color: $color-93degres
			*/
		


.cta--circle
		display: table-cell



		a
			position: relative
			font-family: $dm_sans
			-webkit-font-smoothing: initial
			font-weight: 400
			font-size: 12px
			display: inline-block
			min-width: 10px
			padding: 40px
			text-transform: uppercase
			letter-spacing: 0.05em
			
			span
				display: block
				z-index: 1
				color: $color-white
				position: relative
				height: 0
				padding: 50% 0
				top: -6px /* Half of font-size, in our case it is (14px / 2) */

			.circle
				position: absolute
				overflow: hidden
				display: block
				width: 100%
				height: 100%
				top: 0
				left: 0
				border-radius: 100%
				background: $color-black
				transform: scale(1)
				transition: transform 0.5s cubic-bezier(0.4, 0, 0, 1)
				

				&:after
					content: ''
					display: block
					position: absolute
					width: 100%
					height: 100%
					border-radius: 100%
					transform: scale(0)
					background: $color-93degres
					transition: transform 0.35s cubic-bezier(0.4, 0, 0, 1)


			&:hover

				.circle

					transform: scale(1.2)
					&:after
						transform: scale(1)	

	
.categories
	color: $color-white
	text-transform: uppercase
	font-size: 20px
	font-family: $dm_sans
	font-weight: 400
	letter-spacing:

	+media-sm-and-less
		font-size: 16px

	img 
		float: left
		width: 27px
		position: relative
		margin-right: 10px
		margin-top: 2px

		+media-sm-and-less
			margin-top: 1px


	

blockquote 
	
	quotes: none
	&:before 
		content: ''
		content: none
	
	&:after 
		content: ''
		content: none
ul

li
	display: inline-block

.container

	+media-sm-and-less
		margin-bottom: 60px

	.row
		margin-bottom: $desktop-margin*2


.table 
	display: table
	width: 100%
	height: 100%

.table-cell 
	display: table-cell
	vertical-align: middle

.texte--center 
	text-align: center

.overflow 
	overflow: hidden

.caption
	margin-top: 5px
	float: left

.image 
	background-size: cover
	background-position: center

.item__img-wrap
	overflow: hidden
	max-width: 100%
	padding-bottom: 100%
	will-change: transform
	background: $color-black

.item:first-child .item__img-wrap
	--aspect-ratio: 8/10

.item__img

	--overflow: 75px
	height: calc(100% + (2 * var(--overflow)))
	top: calc( -1 * var(--overflow))
	width: 100%
	position: absolute
	background-size: cover
	background-position: 50% 0%
	will-change: transform


.cover-gradient 
	top: 0
	bottom: 0
	left: 0
	right: 0
	position: absolute
	background-size: cover
	background-position: center
	background: $color-dark
	opacity: 0.25
	background: linear-gradient(to bottom, rgba(0,0,0,0.33) 0,rgba(0,0,0,1) 100%)
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#54000000', endColorstr='#000000',GradientType=0 )

.image--1-1 
	padding-bottom: 100%

.image--4-5 
	padding-bottom: 80%

.image--3-2 
	padding-bottom: 66.66%

.image--16-9 
	padding-bottom: 56.25%

.image--21-9 
	padding-bottom: 42.85%

.image--1-2 
	padding-bottom: 50%

.country-code
	h5
		letter-spacing: normal

.scroll-reveal

	visibility: hidden

.scroll-reveal--revealed
	visibility: visible
.sous-cat
	overflow: hidden
	display: table
	padding-bottom: 50px
	padding-top: 50px
	+media-sm-and-less
		padding-top: 0
		padding-bottom: 0
.list-sous-cat
	display: table-cell
	vertical-align: middle
	float: none
	text-align: center
	top: $desktop-margin
	transform .45s cubic-bezier(.4,0,0,1)


	
	a 
		position: relative
		display: inline-block
		color: $color-dark
		text-transform: uppercase
		letter-spacing: 0.2em
		font-size: 20px

		transition: all .45s cubic-bezier(.4,0,0,1)
		margin: 10px 30px 10px 30px

		
		&:hover
			transform: scale(1.2)

		&:active
			transform: scale(1.05)

	span 
		font-family: $dm_sans
		text-transform: uppercase
		letter-spacing: 0.4em
		font-size: 12px
		padding: 12px 0
		display: inline
		letter-spacing: 0.1em
		position: absolute
		bottom: 0px
		margin-left: 4px

	.list-sous-cat-element
		display: inline-block
		margin: 12px 20px
		
.mask
	position: fixed
	background: $color-93degres
	z-index: 200
	top: 0
	bottom: 0
	left: 0
	right: 0